<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Add Order</title>
  <link rel="icon" th:href="@{/icons/elephant2.png}">
  <style>
    ::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>
<body style="background-color: transparent;">
<div style="z-index: 1; width: 100%; height: 100%; position: absolute; top: 0; right: 0"
     onclick="parent.closeIFrame();"></div>
<div class="mt-4 container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-xl-5" style="z-index: 2">
      <div style="background-color: white; border-radius: 25px; border: 2px solid #5700f7">
        <img alt="elephant?" class="mx-auto d-block" width="200px" src="../../static/icons/elephant.png"
             th:src="@{/icons/elephant.png}">
        <p class="text-center display-4">Add Order</p>

        <form action="#" th:action="@{/order/add}" th:object="${order}" method="post">

          <div class="mx-5 px-5 form-group form-group-lg">
            <label for="id_dish" class="h4">ID of Dish</label>
            <input type="number" id="id_dish" class="form-control input-lg" th:field="*{ID_Dish}"/>
            <label for="id_dish" th:if="${#fields.hasErrors('ID_Dish')}" th:errors="*{ID_Dish}"
                   style="color: red"></label>
          </div>

          <div class="d-flex justify-content-center m-3">
            <button type="submit" class="btn btn-secondary btn-lg"
                    style="background-color: #5700f7; border-color: white; border-radius: 30px">Add Order
            </button>
          </div>
        </form>

        <p class="text-center h1 fw-bold m-3 pb-3" style="color: #5707f7" th:text="${message}">&nbsp</p>
        <p class="text-center h1 fw-bold m-3 pb-3" style="color: red" th:text="${message2}">&nbsp</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>